#content.container
  .row
    .eight.columns
      %h1 Editing illustration
      
      = render 'form'
      
      = link_to 'Show', @illustration
      \|
      = link_to 'Back', illustrations_path
