#main-content.container
  .row
    .twelve.columns
      %h1 Manuals Site
  .row.three-boxes
    .four.columns
      %h2.howto How do I...?
    .four.columns
      %h2.manuals Manuals Index
    .four.columns
      %h2.search Search

