#head.container
  .row
    .columns.twelve
      %h1
        New chapter for
        = @manual.title
#content.container
  .row
    .columns.twelve
      = render 'form'
      = link_to 'Back', manual_chapters_path(@manual)
